@import url("https://fonts.googleapis.com/css?family=Geologica:100,200,300,regular,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Geologica";
  background-color: rgba(244, 244, 244, 0.164);
}

.container {
  text-align: center;
  width: 80%;
}

.title {
  margin-block-end: 2rem;
  font-size: 28px;
}
.title span {
  color: darkblue;
  font-size: 30px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}
button {
  padding: 8px 20px;
  background-color: #008cba;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 138, 184, 0.675);
}
.profile {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  text-transform: capitalize;
}

.profile p {
  margin-block-end: 10px;
}

.profile a {
  text-decoration: none;
  padding: 8px 12px;
  background-color: rgb(148, 133, 243);
  border-radius: 5px;
  color: black;
}

.profile a:hover {
  background-color: rgba(88, 71, 198, 0.698);
  color: white;
}
